@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Generic Document Properties */

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #1A1A1F;
    font-family: "Open Sans";
    min-width: 380px;
}

.floatleft { float: left; }

.floatright { float: right; }

.d-flex { display: flex; }

/* Navbar Properties */

.navbar {
    color: white;
    font-family: "Pathway Gothic One";
    min-width: 380px;
    -webkit-box-shadow: 0 0 3px 1px #6d6d6d;
    -moz-box-shadow: 0 0 3px 1px #6d6d6d;
    box-shadow: 0 0 3px 1px #6d6d6d;
    z-index: 10000;
    background-color: rgb(0, 0, 0, 1);
}

.nav-link, .navbar-brand {
    color: white;
    cursor: pointer;
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
}
.nav-link {
    margin-right: 1em !important;
    font-size: 16pt;
}

.navbar-brand {
    font-size: 24pt;
    line-height: 28px;
}
.navbar-brand small {
    display: block;
    font-size: 16pt;
}

.navbar-collapse { justify-content: flex-end; }

.custom-toggler.navbar-toggler { 
    border-color: white;
    border-width: 3px;
}

.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

/* Landing Page Properties */

.about {
    content:"";
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url(../img/mountains.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headlinediv { min-height: calc(100vh - 79px); }

#headlineparagraph {
    color: white;
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    font-style: italic;
    display: inline;
}

div.headline {
    position: absolute;
    bottom: 32%;
}

.typed-cursor{
    font-size: 28px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.downarrow { font-size: 4rem; }

/* Generic Section Label/Header Properties */

h2.rowlabel {
    font-size: 19pt;
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    color: white;
    padding: 5px 10px 5px 30px;
    display: inline-block;
    margin: 5px 10px 5px 0px;
}

h3.bodyblackheader {
    font-size: 14pt;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    font-weight: normal;
}

.contentheader {
    -webkit-box-shadow: 0 0 3px 1px #6d6d6d;
    -moz-box-shadow: 0 0 3px 1px #6d6d6d;
    box-shadow: 0 0 3px 1px #6d6d6d;
    background-color: #1A1A1F;
}

a.anchor {
    display: block;
    position: relative;
    top: -82px;
    visibility: hidden;
}

/* Sticky Label/Header Properties */

.sticky {
    position: -webkit-sticky; /* Required for Safari */
    position: sticky;
    height: 50px;
    z-index: 9999;
    top: 82px;
}

/* Generic List Properties */

ul.bodylist {
    list-style-type: disc;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 0px;
    padding: 0;
    font-size: 12pt;
    font-weight: 400;
}

ul.bodylistindented {
    list-style-type: disc;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 0px;
    padding: 0;
    font-size: 12pt;
    font-weight: 400;
}

li {
    padding-bottom: 15px;
    line-height: 1.4em;
}

/* All Sections Properties */

.skills,
.experience,
.education,
.certifications {
    background-color: #011F31;
}


/* Skills Section Properties */

table.skills {
    padding: 15px;
    margin-bottom: 14px;
    font-size: 12pt;
    display: inline-block;
    border-spacing: 0px;
    border-collapse: separate; 
    border-radius: 5px;
}

table.skills > tbody > tr > td { padding: 0px 50px 0px 0px; }

/* Experience Section Properties */

div.experiencediv {
    font-size: 12pt;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

/* Education Section Properties */

div.educationdiv {
    font-size: 12pt;
    padding: 15px 15px 15px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

div.certificationsdiv {
    font-size: 12pt;
    padding: 15px 15px 15px 30px;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Experience Section Properties */

/* Certifications Section Properties */

.certificationspadding { padding-bottom: calc(100vh - 589px); }

/* Footer Properties */

.footer {
    height: 92px;
    background-color: #1A1A1F;
}

.footerparagraph {
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "Pathway Gothic One";
}

/* 2D TRANSITIONS */
/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}