@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #1A1A1F;
    font-family: "Cormorant Garamond";
    min-width: 380px;
}

body:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url(../mountains6.jpeg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    background:#1A1A1F;
    color: white;
    font-family: "Pathway Gothic One";
    min-width: 380px;
}
.nav-link, .navbar-brand {
    color: white;
    cursor: pointer;
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
}
.nav-link {
    margin-right: 1em !important;
    font-size: 16pt;
}

.navbar-brand {
    font-size: 24pt;
    line-height: 28px;
}
.navbar-brand small {
    display: block;
    font-size: 16pt;
}

.navbar-collapse {
    justify-content: flex-end;
}

.custom-toggler.navbar-toggler { 
    border-color: white;
    border-width: 3px;
}

.custom-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
}

.rightarrow {
    font-size: 2rem;
    padding: 5px 25px;
}

h2.rowlabel {
    font-size: 16pt;
    font-family: "Pathway Gothic One";
    text-transform: uppercase;
    color: white;
    /*background-color: #1A1A1F;*/
    background-color: rgb(34, 40, 49, .9);
    border-radius: 5px;
    box-shadow: -1px -1px .5px #6d6d6d;
    padding: 10px;
    display: inline-block;
    margin: 10px 10px 10px 0px;
}

div.contentdiv {
    font-size: 12pt;
    background-color: rgb(34, 40, 49, .9);
    box-shadow: -1px -1px .5px #6d6d6d;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}